<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>ui-lightness</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>client</param-value>
	</context-param>
	
	<!-- agregado 
	<context-param>
		<param-name>primefaces.UPLOADER</param-name>
		<param-value>native</param-value>
	</context-param>-->
	
	<!-- agregado 
	<context-param>
		<param-name>primefaces.UPLOADER</param-name>
		<param-value>auto</param-value>
	</context-param>-->
	
	
	<!-- agregado 
	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>client</param-value>
	</context-param>-->
	
	<!-- agregado 
	<listener>
		<listener-class>com.sun.faces.config.ConfigureListener</listener-class>
	</listener>-->
	
	<!-- <context-param> -->
	<!-- <param-name>javax.faces.PARTIAL_STATE_SAVING</param-name> -->
	<!-- <param-value>true</param-value> -->
	<!-- </context-param> -->
	<!-- <context-param> -->
	<!-- <param-name>javax.faces.FULL_STATE_SAVING_VIEW_IDS</param-name> -->
	<!-- <param-value>../security/descargaArchivosAgrupador.xhtml</param-value> -->
	<!-- </context-param> -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>/faces/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>30</session-timeout>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>

	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>
	
	<!-- -->
	
	<!-- agregeado 
	<listener>
		<listener-class>org.apache.commons.fileupload.servlet.FileCleanerCleanup</listener-class>
	</listener>
	-->
	<filter>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
		<!--<dispatcher>FORWARD</dispatcher>-->
	</filter-mapping>
	<!-- -->
	
	<filter>
		<filter-name>filtroSeguridad</filter-name>
		<filter-class>co.com.infovalmer.security.SeguridadPaginasFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>filtroSeguridad</filter-name>
		<url-pattern>/faces/security/*</url-pattern>
	</filter-mapping>


</web-app>